<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contacts</title>
</head>
<body>
    <h1>Contacts page</h1>
    <form method="post">
        <label for="email">Email:</label>
        <input type="text"name="email"><br><br>
        <label for="subject">Тема:</label>
        <input type="text" name="subject"><br><br>
        <label for="message">Сообщение:</label>
        <input type="text" name="message"><br><br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>