{% extends 'base.html' %}

{% block title %}
    Contacts
{% endblock title %}

{% block content %}
    <h1>Contacts page</h1>
    <form method="post">
        <label class="form-label" for="email">Email:</label>
        <input class="form-control" type="text"name="email"><br><br>
        <label class="form-label" for="subject">Тема:</label>
        <input class="form-control" type="text" name="subject"><br><br>
        <label class="form-label" for="message">Сообщение:</label>
        <input class="form-control" type="text" name="message"><br><br>
        <input class="form-control" type="submit" value="Submit">
    </form>
{% endblock content %}